<footer class="footer">
  <p>Copyright © Nessan Fitzmaurice.</p>
  <p>Except where noted otherwise, this project is licensed under the
    <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License 2.0
    </a>
    (MPL-2.0).</p>
</footer>